html,
body,
header,
.view.jarallax {
  height: 100%;
  min-height: 100%;
}

.mask-custom {
  backdrop-filter: blur(8px);
}

.span-orange {
  color: #e67e22;
}

.restaurant-lp .page-footer {
  background-color: #e67e22;
}

.restaurant-lp .navbar {
  background-color: #e67e22;
}



